# pip install -r requirements.txt 
# Django Framework
Django==5.2.1

# Django REST Framework
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
djoser==2.2.0          # 
dj-rest-auth==4.0.0
django-allauth==0.52.0

# API utilities
markdown
django-filter
pygments

# CORS
django-cors-headers==4.3.1

# environment variables
django-environ
python-dotenv==1.0.1

# ASGI
channels==4.0.0
daphne==4.0.0

# DB
sqlparse==0.5.3
psycopg2-binary==2.9.9
dj-database-url

# 이미지 처리
Pillow==10.2.0

# distribution
gunicorn==21.2.0

# Development/Test
django-debug-toolbar
pytest
pytest-django

# Admin theme
django-jazzmin>=2.6.0

matplotlib==3.9.0

whitenoise
